div.founder__container {
  background-image: var(--base-bg);
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0rem;
  }
  @media screen and (min-width: 1920px) {
    height: calc(300px + 10vw);
  }
  div.founder__text {
    flex: 0.7;
    padding: 3rem 0rem;
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 1920px) {
      padding: 3rem;
    }
    p {
      font-size: calc(1rem + 0.5vw);
      color: var(--azure-color);
      margin-bottom: 2rem;
      text-align: justify;
      line-height: 1.5;
      @media screen and (max-width: 750px) {
        text-align: center;
      }
      @media screen and (min-width: 1920px) {
        line-height: 2;
      }
    }
    a {
      color: var(--azure-color);
      font-size: calc(1rem + 0.3vw);
      svg {
        font-size: 1rem;
      }
    }
    @media screen and (max-width: 950px) {
      flex: 0.6;
      height: 100%;
      border: none;
    }
    @media screen and (max-width: 750px) {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  div.founder__img {
    flex: 0.3;
    margin-left: 2rem;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 950px) {
      flex: 0.4;
    }
    @media screen and (max-width: 750px) {
      width: 100%;

      margin-left: 0rem;
      img {
        width: 100%;
        height: 500px;
      }
    }
  }
}
