div.showworks__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  background: url("https://i.ibb.co/6W96zhx/annie-spratt-OTy0mkqc2-Yk-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  h1 {
    font-size: calc(1rem + 1vw);
    text-align: center;
    margin: 4rem;
    position: relative;
    color: var(--dark-pink-color);
    &::after {
      content: "";
      position: absolute;
      width: 5%;
      height: 2px;
      background-color: var(--dark-blue-color);
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  div.showwork {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    @media screen and (max-width: 950px) {
      padding: 1rem;
    }
    div.showwork__work {
      width: 350px;
      height: 100%;
      margin: 1rem 2rem;
      box-shadow: 0px 0px 50px rgba(1, 26, 36, 0.441);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: aliceblue;
      @media screen and (max-width: 950px) {
        margin: 1rem;
      }
      @media screen and (min-width: 1920px) {
        width: 450px;
      }

      @media screen and (min-width: 2300px) {
        width: 550px;
        margin: 2rem 4rem;
      }
      @media screen and (min-width: 2800px) {
        width: 650px;
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
        @media screen and (min-width: 1920px) {
          height: 300px;
        }
        @media screen and (min-width: 2800px) {
          height: 400px;
        }
      }
      span {
        font-weight: bold;
        @media screen and (min-width: 1920px) {
          font-size: calc(0.5rem + 0.5vw);
        }
      }
      p {
        margin: 0.5rem 0rem 1rem;
        text-align: center;
        color: var(--gray-color);
        @media screen and (min-width: 1920px) {
          font-size: calc(0.5rem + 0.5vw);
        }
      }
    }
  }
  a {
    align-self: center;
    padding: 0.5rem 2rem;
    background-color: var(--dark-pink-color);
    color: var(--azure-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem;
    @media screen and (min-width: 2000px) {
      padding: 1rem 3rem;
      font-size: 1.5rem;
    }
    &:hover {
      background-color: rgb(227, 15, 117);
    }
    &:active {
      border: 3px solid rgb(205, 160, 14);
    }
  }
}
