div.statprojects__container {
  width: 100%;
  height: calc(50rem + 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background: url("https://i.ibb.co/XxC0kjq/adolfo-felix-Yi9-QIOb-Q1o-unsplash.jpg");
  background-size: cover;
  color: white;
  background-attachment: fixed;
  font-family: "Arsenal", sans-serif;
  h1 {
    margin-bottom: calc(3rem + 2vh);
    position: relative;
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    letter-spacing: 3px;
    @media screen and (max-width: 600px) {
      font-size: calc(1.5rem + 0.5vw);
    }
    &::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 3px;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--dark-pink-color);
    }
  }
  svg {
    color: var(--dark-pink-color);
  }

  p {
    font-size: calc(1rem + 0.5vw);
    padding: calc(1rem + 0.5vw);
    text-align: center;
  }
  a {
    font-size: calc(0.5rem + 0.5vw);
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-pink-color);
    margin: 3rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: rgb(181, 54, 130);
    }
  }
}
