div.statprojects__container {
  width: 100%;
  height: calc(50rem + 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  h1 {
    margin-bottom: calc(3rem + 2vh);
    position: relative;
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: calc(1.5rem + 0.5vw);
    }
    &::after {
      content: "";
      position: absolute;
      width: 10%;
      height: 3px;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--dark-pink-color);
    }
  }
  svg {
    color: var(--dark-pink-color);
  }

  p {
    font-size: calc(1rem + 0.5vw);
    padding: calc(1rem + 0.5vw);
    text-align: center;
  }
}
