div.supportsection__container {
  width: 100%;
  height: calc(40rem + 30vh);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, rgba(11, 58, 124, 0.38), black),
    url("https://i.ibb.co/ZWDMTGf/katt-yukawa-K0-E6-E0a0-R3-A-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.594);
  background-size: cover;
  font-family: "Arsenal", sans-serif;
  @media screen and (min-width: 2000px) {
    height: calc(100vh - 4rem);
    padding-top: 5rem;
  }
  div.support__volunteer {
    width: 70%;
    height: 60%;
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: calc(2rem + 1vw);
      color: var(--azure-color);
      margin: 3rem 0rem;
      text-align: center;
      font-family: var(--font-base);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        width: 15%;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
      }
      @media screen and (min-width: 2000px) {
        margin: 2rem 0rem 5rem;
      }
    }
    ul {
      list-style: none;

      li {
        color: white;
        padding: 1.5rem;
        font-size: calc(1rem + 0.5vw);
        @media screen and (min-width: 2000px) {
          font-size: calc(1rem + 0.8vw);
          padding: 2.5rem;
        }
      }
    }
    a {
      margin-top: 3rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid white;
      display: inline-block;
      text-align: center;
      background-color: white;
      text-decoration: none;
      transition: all 0.3s ease;
      @media screen and (min-width: 2000px) {
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
      }
      &:hover {
        color: white;
        background-color: var(--light-blue-color);
      }
    }
  }
  div.support__donate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: white;
      margin: 1rem 2rem;
      font-size: calc(1.2rem + 0.5vw);
      text-align: center;
      @media screen and (min-width: 2000px) {
        font-size: calc(1.5rem + 0.5vw);
      }
    }
    svg {
      font-size: calc(5rem + 2vw);
      color: white;
      transition: color 0.2s ease-out;
      @media screen and (min-width: 2000px) {
        font-size: calc(5rem + 3vw);
        margin-top: 1rem;
      }
      &:hover {
        color: rgb(235, 74, 139);
      }
    }
    a {
      color: var(--light-blue-color);
      font-size: 1.5rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: white;
      margin-top: 1rem;
      transition: all 0.4s ease-out;
      @media screen and (min-width: 2000px) {
        font-size: calc(1.5rem + 0.5vw);
        padding: 0.8rem 2rem;
      }
      &:hover {
        color: white;
        background-color: var(--light-blue-color);
        border: 1px solid white;
        transform: scale(1.3);
      }
    }
  }
}
