div.donate__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(4rem + 1vh);
  background: url("../../Assets/donate-bg.jpg");
  background-size: cover;
  padding: 3rem 8rem;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 1px;
  @media screen and (max-width: 1200px) {
    padding: 2rem;
  }
  div.donate__bkash--container {
    display: flex;
    width: 90%;
    // border: 1px solid red;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
    background-color: rgba(255, 255, 255, 0.385);
    border-radius: 1rem;
    padding: 1rem 3rem;
    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 1.5rem;
    }
    @media screen and (min-width: 2000px) {
      margin: 5rem 0rem;
      padding: 4rem;
    }
    img {
      width: 10rem;
      height: 5rem;
      @media screen and (min-width: 2000px) {
        width: 20rem;
        height: 10rem;
      }
    }
    p {
      font-size: calc(1rem + 0.5vw);
      padding: 1rem 3rem;
      text-align: center;
      @media screen and (max-width: 600px) {
        padding: 1rem 0rem;
      }
      @media screen and (min-width: 2000px) {
        padding: 2rem 2rem;
        font-size: calc(1.5rem + 1vw);
      }
      img {
        width: calc(1rem + 0.5vw);
        height: calc(1rem + 0.5vw);
        @media screen and (min-width: 2000px) {
          width: calc(1rem + 1vw);
          height: calc(1rem + 1vw);
        }
      }
    }
  }
  div.donate__wise {
    display: flex;
    width: 90%;
    // border: 1px solid red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.5rem 0rem;
    background-color: rgba(255, 255, 255, 0.385);
    border-radius: 1rem;
    padding: 3rem 5rem;
    @media screen and (min-width: 2000px) {
      padding: 5rem;
    }
    @media screen and (max-width: 900px) {
      padding: 2rem 1.5rem;
    }
    p {
      font-size: calc(1rem + 0.5vw);
      text-align: center;
      margin: 1rem 1rem 2rem;
      @media screen and (max-width: 600px) {
        margin: 1rem 0rem;
      }
      @media screen and (min-width: 2000px) {
        font-size: calc(1.5rem + 0.5vw);
      }
    }
    q {
      font-size: calc(0.8rem + 0.5vw);
      margin-top: 1rem;
      text-align: center;
      @media screen and (min-width: 2000px) {
        font-size: calc(0.8rem + 0.8vw);
      }
    }
  }
  div.donate-info__container {
    div {
      display: flex;
      align-items: center;
      margin: 1rem 5rem;
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      label {
        font-size: calc(1rem + 1vw);
        margin: 0rem 1rem;
        @media screen and (min-width: 2000px) {
          font-size: calc(2rem + 1vw);
        }
        @media screen and (max-width: 1000px) {
          font-size: calc(0.8rem + 1vw);
        }
        @media screen and (max-width: 700px) {
          margin-bottom: 1rem;
        }
      }
      input {
        font-size: calc(1rem + 0.5vw);
        width: calc(10rem + 10vw);
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: rgba(255, 255, 255, 0.385);
        @media screen and (max-width: 1000px) {
          font-size: calc(1rem + 1vw);
        }
        @media screen and (min-width: 2000px) {
          font-size: calc(1.5rem + 0.5vw);
          // border-radius: 1rem;
        }
      }
      button {
        padding: 0.8rem 1rem;
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.385);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        svg {
          font-size: calc(1rem + 0.5vw);
          color: gray;

          @media screen and (max-width: 1000px) {
            font-size: calc(1rem + 0.5vw);
          }
          @media screen and (min-width: 2000px) {
            font-size: calc(1.5rem + 0.5vw);
            // border-radius: 1rem;
          }
        }
        &:hover {
          background-color: rgb(255, 252, 252);
          box-shadow: 1px 1px 5px gray;
        }
      }
      span {
        font-size: 1rem;
        color: gray;
      }
    }
  }
  p.donate__credit-message {
    margin: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.385);
    padding: 1rem 5rem;
    border-radius: 5px;

    @media screen and (max-width: 750px) {
      margin: 3rem 1rem;
    }
    @media screen and (min-width: 2000px) {
      font-size: calc(1rem + 0.5vw);
    }
  }
}
