// Main Styling
div.project__container {
  width: 100%;
  height: 100%;

  padding: 5rem 2rem;
  @media screen and (min-width: 2000px) {
    padding: 5rem;
  }
  @media screen and (max-width: 1200px) {
    padding: 5rem 2rem;
  }
  @media screen and (max-width: 700px) {
    padding: 5rem 1rem;
  }
  @media screen and (max-width: 500px) {
    padding: 5rem 0rem;
  }

  h3 {
    font-size: calc(0.5vw + 1.5rem);
    text-align: center;

    margin: 0rem 0rem 5rem;
  }
  div.project__container--mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0rem;

    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;
    }
    p {
      font-size: calc(1rem + 0.5vw);

      width: 50%;
      text-align: right;
      line-height: 2;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow-x: hidden;
      padding-right: 2rem;
      font-family: var(--font-base);

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(233, 136, 136, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(231, 133, 133, 0.8);
        box-shadow: inset 0 0 6px rgba(184, 108, 108, 0.5);
      }
      @media screen and (max-width: 1000px) {
        width: 90%;
        margin-top: 3rem;
        // padding-right: 0rem;
        text-align: justify;
      }
    }
    img {
      width: 40%;
      height: calc(300px + 15vh);
      object-fit: cover;
      box-shadow: 2px 2px 10px black;
      @media screen and (max-width: 1000px) {
        width: 90%;
      }
    }
  }
  div.project__container--bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    margin-top: 5rem;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    div.project__container--bottom-video {
      width: 40%;
      height: calc(300px + 15vh);
      // border: 1px solid blue;
      position: relative;
      box-shadow: 2px 2px 10px black;
      @media screen and (max-width: 1000px) {
        width: 90%;
        margin-top: 3rem;
      }
      div.project__container--video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: rgba(1, 19, 11, 0.718);
        z-index: 1;
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 1rem;
        }
        a {
          font-size: 1rem;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          text-decoration: underline;
          margin: 0rem 1rem;
          color: rgb(239, 237, 237);
          @media screen and (max-width: 600px) {
            margin: 0.5rem;
          }
          @media screen and (max-width: 500px) {
            width: 6rem;
          }
        }
        svg {
          color: #1b74e4;
          font-size: calc(1rem + 0.5vw);
          margin-right: 1rem;
        }
      }
    }
    p {
      font-size: calc(1rem + 0.5vw);
      line-height: 2;
      width: 50%;
      text-align: left;
      padding: 3rem;
      font-family: var(--font-base);
      @media screen and (max-width: 1000px) {
        width: 90%;
        padding: 3rem 0rem;
        text-align: justify;
      }
    }
  }
}
