.app__nav {
  width: 100%;
  height: calc(4rem + 1vh);
  background-color: var(--dark-blue-color);
  border-bottom: 1px solid rgba(128, 128, 128, 0.227);
  box-shadow: 1px 0px 1px rgb(110, 108, 108);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: background-color 0.2s ease-out;

  .app__nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    img {
      width: calc(100px + 1vw);
      height: 100%;
      padding: 0.5rem;
    }
  }
  .app__nav-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: calc(0.8rem + 0.5vw);

    font-family: "Arsenal", sans-serif;
    @media screen and (max-width: 900px) {
      display: none;
    }
    li {
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 7px;
        height: 7px;
        background-color: transparent;
        border-radius: 50%;
        margin-bottom: 3px;
        transition: all 0.3s ease-out;
      }

      a {
        color: var(--white-color);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: var(--gray-color);
        }
      }
      &:hover {
        div {
          background-color: var(--dark-pink-color);
        }
      }
    }
    li:last-child {
      border: 1px solid white;
      padding: 0rem 1rem 7px;
      margin-top: 5px;
      // border-radius: 5px;
      transition: all 0.3s ease-in-out;
      &:hover {
        div {
          background-color: transparent;
        }

        background-color: var(--dark-pink-color);
        cursor: pointer;
        a {
          color: white;
        }
      }
    }
  }
  .app__nav-menu {
    width: 40px;
    height: 40px;
    background-color: var(--dark-pink-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 1.5rem;
    svg {
      color: var(--white-color);
      font-size: 1.6rem;
    }
    div {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: var(--dark-blue-color);
      width: 70%;
      z-index: 5;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      padding: 1rem;
      box-shadow: 0px 0px 5px rgb(150, 178, 184);
      svg {
        color: var(--white-color);
        margin: 0rem 1rem;

        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      ul {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        li {
          margin: 1rem 2rem;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--white-color);
            &:active {
              color: var(--gray-color);
            }
          }
        }
        li:last-child {
          padding: 0.5rem 1rem;
          border: 1px solid white;
          border-radius: 5px;
        }
      }
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}

.app__nav.active {
  background-color: var(--dark-pink-color);
  ul.app__nav-list {
    li {
      a {
        color: white;
        &:hover {
          color: #ddd;
        }
      }
      &:hover {
        div {
          background-color: var(--dark-blue-color);
        }
      }
    }
    li:last-child {
      &:hover {
        background-color: var(--dark-blue-color);
        div {
          background-color: transparent;
        }
        a {
          color: white;
        }
      }
    }
  }
  .app__nav-menu {
    background-color: var(--dark-blue-color);
  }
}
