div.showcase__container {
  width: 100%;
  height: 30rem;
  //   border: 1px solid red;
  background-image: linear-gradient(90deg, #260859 0%, #b50938 100%);
  display: flex;
  padding: 1rem 3rem;
  align-items: center;

  background-size: cover;
  background-attachment: fixed;
  // font-family: "Rajdhani", sans-serif;
  font-family: "Arsenal", sans-serif;
  @media screen and (min-width: 2000px) {
    padding: 3rem 10rem;
  }
  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
    height: 100%;
    padding: 1rem;
  }
  div.showcase__text {
    flex: 0.7;
    height: 80%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // font-family: var(--font-base);
    p:nth-child(1) {
      font-size: calc(1rem + 0.7vw);
      margin: 2rem 0rem;

      color: var(--azure-color);
      text-align: justify;
      @media screen and (max-width: 1300px) {
        padding: 3rem 0rem;
      }
      span {
        font-weight: bold;
        color: white;
      }
    }
    p:nth-child(2) {
      color: var(--azure-color);
      font-size: calc(1rem + 0.5vw);
      // margin-left: 1rem;
    }
  }
  div.showcase__img--container {
    flex: 0.3;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 25rem;
      height: 25rem;
      object-fit: cover;
      @media screen and (min-width: 2000px) {
        width: calc(24rem + 2vw);
        height: calc(24rem + 2vw);
      }
    }
  }
}
