@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
div.slider__container {
  max-width: 100vw;
  height: calc(70vh + 10rem);
  margin-top: calc(4rem + 1vh);
  position: relative;
  overflow: hidden;
  // box-shadow: 0 10px 20px black;

  div.slider__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    div.slider__slide--description {
      width: 50%;
      height: 200px;
      background-color: #26085986;
      position: absolute;
      bottom: 30vh;
      right: 25vw;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 1.5rem 3rem;
      overflow: hidden;
      font-family: "Rajdhani", sans-serif;
      @media screen and (max-width: 900px) {
        height: 250px;
        width: 60%;
        padding: 1.5rem;
        right: 150px;
      }
      @media screen and (max-width: 600px) {
        right: 70px;
        width: 70%;
        height: 350px;
      }
      @media screen and (max-width: 400px) {
        right: 55px;
      }
      @media screen and (min-width: 2000px) {
        height: 400px;
        bottom: 25vh;
      }
      p:nth-child(1) {
        font-size: calc(1.5rem + 1vw);
        color: white;
        width: 100%;

        padding: 0.3rem 1rem;
        border-bottom: 2px solid var(--dark-pink-color);
        span {
          color: var(--dark-pink-color);
          font-weight: bold;
        }
        @media screen and (min-width: 2000px) {
          font-size: calc(2rem + 1vw);
        }
      }
      p:nth-child(2) {
        font-size: calc(1rem + 0.5vw);
        color: var(--white-color);
        margin: 1.5rem 1rem 1rem;
        @media screen and (min-width: 2000px) {
          font-size: calc(1rem + 0.5vw);
        }
      }
    }
  }
  div.slider__slide--active {
    opacity: 1;
  }
}

.slider__btn {
  width: 40px;
  height: 40px;
  // border-radius: 5px;
  background-color: rgba(163, 9, 9, 0.555);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;

  @media screen and (max-width: 700px) {
    width: 25px;
    height: 25px;
  }
  @media screen and (min-width: 2000px) {
    width: 50px;
    height: 50px;
  }
  svg {
    font-size: 30px;
    // pointer-events: none;
    color: white;
  }
  &:hover {
    background-color: rgba(12, 67, 157, 0.855);
  }
  &:active {
    transform: scale(0.99999999999);
    transform-origin: center;
  }
}
.slider__btn--next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
  // margin-right: 1rem;
  @media screen and (min-width: 2000px) {
    right: 60px;
    margin-right: 2rem;
  }
}
.slider__btn--prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
  @media screen and (min-width: 2000px) {
    left: 50px;
  }
}
.slider__dots--container {
  position: absolute;
  bottom: 1rem;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dot {
  width: 15px;
  height: 15px;
  border: 3px solid white;
  margin: 0 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @media screen and (min-width: 2000px) {
    width: 20px;
    height: 20px;
    border: 5px solid white;
  }
  &:hover {
    transform: scale(1.5);
  }
}
.slider__dot--active {
  // background-color: var(--dark-blue-color);
  background-color: var(--black-color);
}
